body {
	font-family: "Raleway", sans-serif;
}

.button {
	background-color: #0099FF;
	border: 2px solid #0099FF;
	font-size: 16pt;
}

/*
a {
background-color: #0099FF;
border: 2px solid #0099FF;
}
*/


.button, .portButton {
	color: white;
	text-align: center;
	font-weight: normal;
	margin: 0px;
	padding: 10px;
	display: inline-block;
	font-family: "Raleway", sans-serif;
}

.portButton {
	font-size: 12pt;
	background-color: #6600CC;
	border: 2px solid #6600CC;
}

.portButton:hover {
	color: white;
	border: 2px solid white;
	background-color: #944DDB;
}

#currentPage {
	background-color: white;
	color: #0099FF;
}

#currentPortPage {
	background-color: white;
	color: #6600CC;
}

.button:hover {
background-color: #80CCFF;
color: white;
border: 2px solid white;
}

p, div, span, h1, h2, h3, h4, h5, pre {
font-family: "Raleway", sans-serif;
}

#navbar {
/*text-align: center;*/
margin-top: 0%;
font-size: 0px;
/*
background-color: #0099FF;
background: -moz-linear-gradient(left, #0099FF 46%, white 85%);


background: -moz-linear-gradient(left, #0099FF 56%, white 70%);
background: linear-gradient(left, #0099FF 56%, white 70%);
*/
}

#portNavbar {
	font-size: 0px;
	background: #6600CC; /* Old browsers */
	background: -moz-linear-gradient(left,  #6600CC 46%, #ffffff 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(46%,#6600CC), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6600CC 46%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6600CC 46%,#ffffff 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6600CC 46%,#ffffff 85%); /* IE10+ */
	background: linear-gradient(to right,  #6600CC 46%,#ffffff 85%); /* W3C */

}


#navbar, #banner {
background: #0099ff; /* Old browsers */
background: -moz-linear-gradient(left,  #0099ff 46%, #ffffff 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(46%,#0099ff), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0099ff 46%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0099ff 46%,#ffffff 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0099ff 46%,#ffffff 85%); /* IE10+ */
background: linear-gradient(to right,  #0099ff 46%,#ffffff 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

html, body {
margin: 0px;
padding: 0px;
}


#leftColumn, #rightColumn, #content {
  margin-bottom:100px;
}


#leftColumn {
  width: 70%;
  float: left;
}

#rightColumn {
  width: 25%;
  float:right;
}

pre {
  white-space: pre-wrap;
}

#content {
  padding: 60px;
  display:inline-block;
  width: 75%;
}


#banner {	
height: 100px;

/*
width: 70%;
*/
margin:0px;
font-family: "Raleway", sans-serif;

/*
background: -moz-linear-gradient(left, #0099FF 80%, white 100%);

background: -moz-linear-gradient(left, #0099ff 46%, #ffffff 85%); /* FF3.6+ */




} 

p.title {
font-family: "Raleway", sans-serif;
font-size: 24pt;
font-weight: normal;
display: inline-block;
vertical-align: text-middle;
color: white;
margin-left: 5%;
}

img.title {
height: 5%;
}